
/*************************************************

1. typograpy 
2. Header-area
3. menu-area
4. information-area
5. address-area
6. contact-area
6. academic-area
7. validation-area
8. Next-area
9. Footer-area



/******************** Typography****************/

body ,p{
	font-size:14px;
	font-family: times new roman;
}

h2{
	font-size: 22px;
	text-transform: capitalize;
	font-weight: bold;
}

h3{
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
}

h4{
	font-size: 14px;
	text-transform: capitalize;
	font-weight: noramal;
}


/************************Header-Area*******************/

.header-area {
	overflow: hidden;
	background: #BACFE4; 
}

.header-area .box {
	height: 30px;
	background: blue;
	margin-bottom: 30px;
	
}

.header-area .logo-area {
	float: left;
	width: 10%;
	padding-left: 20px;
	padding-bottom: 15px;
}

.header-area .heading-area {
	overflow: hidden;
	width: 80%;
	text-align: left;
	padding: 10px 0;
}


.heading-area h2 {
	font-size: 35px;
	color: #274E74;
	margin-top: 5px;
	letter-spacing: 1px;
	margin-bottom: 0;
	font-weight: bold;
}

.heading-area h4 {
	font-size: 20px;
	color: #274E74;
	margin: 0;
}

.heading-area h5 {
	font-size: 22px;
	color: black;
	margin: 0;
	text-transform: capitalize;
}

/*****************Menu Area**************/

.menu-area {
	overflow: hidden;
	height: 50px;
	background: #6699CC;
}

.menu-area ul {
	list-style: none;
	text-align: center;
}

.menu-area ul li {
	display: inline;
	margin-right: 50px;
}

.menu-area ul li a {
	text-decoration: none;
	color: black;
	font-weight: normal;
	font-size: 18px;
}

.menu-area ul li a:hover {
	text-decoration: underline;
	color: white;
}

/*************************Information-area******************/

.container {
	width: 95%;
	margin: auto;
	max-width: 990px;
}

.information-area {
	overflow: hidden;
	font-family: Helvetica;
	font-size: 20px;
	
}

.information-area .col-1-3{
	overflow: hidden;
	float: left;
	text-transform: capitalize;
	font-weight: bold;
	letter-spacing: .5px;
}

.information-area .col-1-3:nth-of-type(1){
	width: 20%;
	margin-right: 1%;
	text-align: left;
	font-size: 22px;
}

.information-area .col-1-3:nth-of-type(2){
	width: 4%;
	margin-right: 1%;
	text-align: left;
	line-height: 1.05em;
}

.information-area .col-1-3:nth-of-type(2) h4:nth-of-type(9){
	margin-bottom: 28px;
}

.information-area .col-1-3:nth-of-type(3){
	width: 74%;
}


/********************Collums 3**********************/

/******************Name*********************/

.name {
	overflow: hidden;
	margin-top: 15px;
}

.name input {
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 3px 5px;
	font-size: 18px;
	border: 1px solid #6699CC;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.name input:nth-of-type(3) {
	margin-bottom: 5px;
}



/**********Birth Select**************/

.birth {
	overflow: hidden;
	margin-bottom: 3px;
}

.birth label {
	font-size: 16px;
	font-weight: normal;
}
.birth select {
		background: white;
		padding: 2px 35px;
		border-radius: 3px;
		border: 1px solid #6699CC;
		font-size: 16px;
		font-weight: normal;
}

.gender {
	overflow: hidden;
	margin-bottom: 40px;
}

 label {
	font-size: 16px;
	font-weight: normal;
}

.school {
	overflow: hidden;
}

.school input {
	width: 40%;
	border-radius: 5px;
	padding: 3px 5px;
	font-size: 18px;
	border: 1px solid #6699CC;
	margin-bottom: 10px;
}


.relation {
	overflow: hidden;
	margin-bottom: 10px;
}

.relation select {
	background: white;
		padding: 4px 113px;
		border-radius: 3px;
		border: 1px solid #6699CC;
		font-size: 16px;
		font-weight: normal;
}


.defendent {
	overflow: hidden;
	margin-bottom: 15px;
}

.freedom {
	overflow: hidden;
	margin-bottom: 5px;
}

.text-area {
	overflow: hidden;
	margin-bottom: 10px;
}

.nationality {
	overflow: hidden;
	margin: 0;
}

.nationality select {
		background: white;
		padding: 2px 35px;
		border-radius: 3px;
		border: 1px solid #6699CC;
		font-size: 16px;
		font-weight: normal;
		
}

/*******************  Footer-area*************************/

.footer-area {
	overflow: hidden;
	padding: 20px 0;
}

.footer-area .btn {
	text-align: center;
}

.footer-area .btn input{
	background: linear-gradient(#fddaee, #f548a4);
	padding: 10px 40px;
	text-align: center;
	color: black;
	border-radius: 7px;
	border: .5px black;
	text-transform: capitalize;
	transform: 1s;
	font-weight: bold;
	font-size: 20px;
}