
body {
	
}


/*************typography*************/

h2 {
	font-size: 20;
	color: white;
	text-transform: capitalize;
	font-family: arial;
	margin-left: 10px;
}

h3 {
	font-size: 18;
	color: white;
	text-transform: capitalize;
	font-family: arial;
	margin-left: 10px;
}

h4 {
	font-size: 12;
	color: white;
	text-transform: capitalize;
	font-family: arial;
	margin-left: 10px;
}



/****************Header-area*****************/

.header-area {
	overflow: hidden;
	
	padding: 15px 0;

}

.header-area .logo-area {
	float: left;
	width: 20%;
	background: #cccccc;
	height: 170px;
	overflow: hidden;
	padding-bottom: 12px;
}

.logo-area img {
	padding: 30px 50px;
}

.header-area .heading-area {
	overflow: hidden;
	width: 80%;
	background: black;
}

.education {
	
}

.education h3 {
	color: #24e554;
	font-size: 25px;
}

hr {
	border-bottom: 1px solid #24e554; 
	border-top: none;
	border-right: none;
	border-left: none;
}

.official {
	 background: radial-gradient(green, white);
	 height: 40px;
}

.official marquee h4 {
	color: red;
	font-size: 16px;
}


/***************************** Information-area******************/



.information-area {
	overflow: hidden;
	height: 600px;
}

.information-area .box {
}


.col-1-3:nth-of-type(1) {
	float: left;
	width: 28%;
	margin-right: 2%;
}


.col-1-3:nth-of-type(2) {
	float: left;
	width: 8%;
	margin-right: 2%;
}

.col-1-3:nth-of-type(3) {
	float: left;
	width: 60%;
	margin-right: 0%;
}



.box-area h3 {
	color: black;
}

.container {
	width: 60%;
	margin: auto;
	padding: 0;
}


.select-option {
	overflow: hidden;
}

.select-option select {
	display: block;
	margin: 8px 0;
	font-size: 17px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 6px 30px;
	background: #f4f0f1;
}


.input {
	overflow: hidden;
}


.input input {
	display: block;
	margin-bottom: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 6px 30px;
	background: #f4f0f1;	
} 



.btn {
	margin-left: 350px;	
}


.btn input {
	background: green;
	border: none;
	border-radius: 10px;
	padding: 10px 30px;
	display: block;
	color: white;
	font-size: 18px;
}